<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}
<br>
<br>
<!--
<form method="post">
    {% csrf_token %}
    {{form}}
    <button type="submit">Log In</button>
</form>
-->
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    {{ field.name }}
    {{field}}
    <br><br><br>
    {% endfor %}
    <button type="submit">Log In </button>
</form>
</body>
</html>